body {
  font-family: Arial, sans-serif;
  background-color: #f7f0f0;
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  height: 50px;
  background-color: #fff;
  width: 100%;
  margin-top: -6px;
}
nav {
  text-align: right;
}
a {
  text-decoration: none;
  color: black;
  padding: 5px;
}
a > button {
  padding: 10px;
  border: none;
  border-radius: 5px;
}
a > button:hover {
  background-color: #9c9393;
  cursor: pointer;
}
.main-section {
  position: relative;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./images/meal-prep-index-1566932947.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 0.7;
}
.content {
  width: 100%;
  padding: 20px;
}
.content > p {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5em;
  width: 80%;
}
.content > p > span {
  color: red;
}
.quote {
  width: 60%;
  margin: auto;
}
.search-bar {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 50%;
  position: relative;
}
.searchcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.autocomplete-items {
  list-style-type: none;
  padding: 0;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  width: 51.5%;
  top: 60px;
  scrollbar-width: thin;
  scrollbar-color: #333 #f3f3f3;
}

.autocomplete-items::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}
.autocomplete-items::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.autocomplete-items::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d62929;
}

.autocomplete-items::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.autocomplete-items li {
  padding: 10px;
  cursor: pointer;
  color: black;
  text-align: left;
}

.autocomplete-items li:hover {
  color: black;
  background-color: #ddd;
}
#meal-details {
  padding: 50px;
}
#meal-details h2 {
  font-size: 1.8em;
  margin-top: -10px;
}

#meal-details img {
  width: 50%;
  border-radius: 10px;
  margin-bottom: 20px;
  max-height: 400px;
  object-fit: cover;
}

#meal-details p {
  font-size: 1em;
  line-height: 1.6;
  text-align: left;
}

#meal-details h3 {
  font-size: 1.2em;
  margin-top: 30px;
  text-align: left;
}

#meal-details ul {
  list-style-type: disc;
  padding-left: 20px;
}

#meal-details ul li {
  margin-bottom: 10px;
  font-size: 1em;
  text-align: left;
}
.meal-name:hover {
  cursor: pointer;
  text-decoration: underline;
}
.favContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.favorite-button {
  background: none;
  border: none;
  color: red;
  font-size: 1.5em;
  cursor: pointer;
  display: block;
}

.favorite-button.active {
  color: red;
}

.favorite-button i {
  transition: color 0.3s;
}
#favorites-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.5rem;
  margin: auto;
  align-items: center;
}

.favorite-item {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 155px;
  margin: 1rem;
  text-align: left;
  padding: 0.5rem;
  position: relative;
  color: black;
  flex-wrap: row wrap;
}
.favorite-item:hover {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  background-color: #ff5858;
}
.favorite-item img {
  width: 100%;
  height: auto;
}

.favorite-item h3 {
  margin: 0.5rem;
  font-size: 1.2rem;
  text-wrap: nowrap;
}

.favorite-item p {
  margin: 0.5rem;
  font-size: 0.9rem;
}

.favorite-item .remove-favorite {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ff5858;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background 0.3s;
}

.favorite-item .remove-favorite:hover {
  background: #f09819;
}
.favorite-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.favorite-btn .fas {
  color: #bbb;
}

.favorite-btn.favorited .fas {
  color: #ff5858;
}
.favorited:hover {
  color: red;
}
.no-data {
  width: 80%;
  margin: auto;
  font-size: 30px;
  margin-top: 60px;
}
